<?xml version='1.0' encoding='utf-8'?>
<widget id="ir.sobhe.zolal" version="0.9.5" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>Zolal</name>
	<description>
		Quran with Tafsir.
	</description>
	<author email="alireza.nournia@gmail.com" href="http://sobhe.ir">
		Sobhe
	</author>

	<access origin="*" />
	<preference name="phonegap-version" value="3.1.0" />
	<feature name="http://api.phonegap.com/1.0/device" />
	<preference name="permissions" value="none" />
	<preference name="orientation" value="default" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="true" />
	<preference name="prerendered-icon" value="true" />
	<preference name="stay-in-webview" value="false" />
	<preference name="ios-statusbarstyle" value="black-opaque" />
	<preference name="detect-data-types" value="true" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="show-splash-screen-spinner" value="true" />
	<preference name="auto-hide-splash-screen" value="true" />
	<preference name="disable-cursor" value="false" />
	<preference name="android-minSdkVersion" value="14" />
	<preference name="android-targetSdkVersion" value="19" />
	<preference name="android-installLocation" value="auto" />

	<icon src="icon.png"/>
	<icon src="phone/icon/android_36.png" gap:platform="android" gap:density="ldpi"/>
	<icon src="phone/icon/android_48.png" gap:platform="android" gap:density="mdpi"/>
	<icon src="phone/icon/android_72.png" gap:platform="android" gap:density="hdpi"/>
	<icon src="phone/icon/android_96.png" gap:platform="android" gap:density="xhdpi"/>
	<gap:splash src="phone/screen/android_ldpi_portrait.png" gap:platform="android" gap:density="ldpi"/>
	<gap:splash src="phone/screen/android_mdpi_portrait.png" gap:platform="android" gap:density="mdpi"/>
	<gap:splash src="phone/screen/android_hdpi_portrait.png" gap:platform="android" gap:density="hdpi"/>
	<gap:splash src="phone/screen/android_xhdpi_portrait.png" gap:platform="android" gap:density="xhdpi"/>
</widget>
